In [23]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [24]:
data = pd.read_csv('..\datasets\liver.csv')
data

,age,gender,tot_bilirubin,direct_bilirubin,tot_proteins,albumin,ag_ratio,sgpt,sgot,alkphos,is_patient
0,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40,1
...,...,...,...,...,...,...,...,...,...,...,...
578,60,Male,0.5,0.1,500,20,34,5.9,1.6,0.37,2
579,40,Male,0.6,0.1,98,35,31,6.0,3.2,1.10,1
580,52,Male,0.8,0.2,245,48,49,6.4,3.2,1.00,1
581,31,Male,1.3,0.5,184,29,32,6.8,3.4,1.00,1
582,38,Male,1.0,0.3,216,21,24,7.3,4.4,1.50,2

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583 entries, 0 to 582
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               583 non-null    int64
 1   gender            583 non-null    object
 2   tot_bilirubin     583 non-null    float64
 3   direct_bilirubin  583 non-null    float64
 4   tot_proteins      583 non-null    int64
 5   albumin           583 non-null    int64
 6   ag_ratio          583 non-null    int64
 7   sgpt              583 non-null    float64
 8   sgot              583 non-null    float64
 9   alkphos           579 non-null    float64
 10  is_patient        583 non-null    int64
dtypes: float64(5), int64(5), object(1)
memory usage: 50.2+ KB

In [26]:
data['is_patient'].value_counts()

is_patient
1    416
2    167
Name: count, dtype: int64

In [27]:
data['gender'].value_counts()

gender
Male      441
Female    142
Name: count, dtype: int64

In [28]:
data['is_patient'] = data['is_patient'].map({1: 1, 2: 0})

In [29]:
data['gender'] = data['gender'].map({'Male': 1, 'Female': 0})

In [30]:
data

,age,gender,tot_bilirubin,direct_bilirubin,tot_proteins,albumin,ag_ratio,sgpt,sgot,alkphos,is_patient
0,65,0,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,1,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,1,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,1,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,1,3.9,2.0,195,27,59,7.3,2.4,0.40,1
...,...,...,...,...,...,...,...,...,...,...,...
578,60,1,0.5,0.1,500,20,34,5.9,1.6,0.37,0
579,40,1,0.6,0.1,98,35,31,6.0,3.2,1.10,1
580,52,1,0.8,0.2,245,48,49,6.4,3.2,1.00,1
581,31,1,1.3,0.5,184,29,32,6.8,3.4,1.00,1
582,38,1,1.0,0.3,216,21,24,7.3,4.4,1.50,0

In [31]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583 entries, 0 to 582
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               583 non-null    int64
 1   gender            583 non-null    int64
 2   tot_bilirubin     583 non-null    float64
 3   direct_bilirubin  583 non-null    float64
 4   tot_proteins      583 non-null    int64
 5   albumin           583 non-null    int64
 6   ag_ratio          583 non-null    int64
 7   sgpt              583 non-null    float64
 8   sgot              583 non-null    float64
 9   alkphos           579 non-null    float64
 10  is_patient        583 non-null    int64
dtypes: float64(5), int64(6)
memory usage: 50.2 KB

In [32]:
data.isnull().sum()

age                 0
gender              0
tot_bilirubin       0
direct_bilirubin    0
tot_proteins        0
albumin             0
ag_ratio            0
sgpt                0
sgot                0
alkphos             4
is_patient          0
dtype: int64

In [33]:
data['alkphos'] = data['alkphos'].fillna(data['alkphos'].median())

In [34]:
!pip install imblearn

Requirement already satisfied: imblearn in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (0.0)
Requirement already satisfied: imbalanced-learn in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from imblearn) (0.12.3)
Requirement already satisfied: numpy>=1.17.3 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from imbalanced-learn->imblearn) (1.26.4)
Requirement already satisfied: scipy>=1.5.0 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from imbalanced-learn->imblearn) (1.12.0)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from imbalanced-learn->imblearn) (1.4.1.post1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from imbalanced-learn->imblearn) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (from imbalanced-learn->imblearn) (3.4.0)

In [35]:
from imblearn.over_sampling import SMOTE, RandomOverSampler

# Initialize SMOTE
smote = SMOTE(random_state=1)

# Apply SMOTE to the training data
X_resampled_smote, y_resampled_smote = smote.fit_resample(data.drop('is_patient',axis=1), data['is_patient'])

# Initialize RandomOverSampler
ros = RandomOverSampler(random_state=1)

# Apply Random Over-Sampling to the SMOTE-resampled data
X_resampled_final, y_resampled_final = ros.fit_resample(X_resampled_smote, y_resampled_smote)

X, y = X_resampled_final, y_resampled_final

In [36]:
y.value_counts()

is_patient
1    416
0    416
Name: count, dtype: int64

In [37]:
X.columns.tolist()

['age',
 'gender',
 'tot_bilirubin',
 'direct_bilirubin',
 'tot_proteins',
 'albumin',
 'ag_ratio',
 'sgpt',
 'sgot',
 'alkphos']

In [38]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 10)
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((665, 10), (167, 10), (665,), (167,))

In [39]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [40]:
from sklearn.decomposition import PCA
pca = PCA()
pca.fit(X_train_scaled)
explained_variance_ratio = pca.explained_variance_ratio_
cumulative_variance_ratio = np.cumsum(explained_variance_ratio)
cumulative_variance_ratio

array([0.29477018, 0.49765202, 0.62899713, 0.73214053, 0.82350465,
       0.90079375, 0.96175502, 0.98003516, 0.99483889, 1.        ])

In [41]:
from sklearn.decomposition import PCA
pca = PCA(n_components=9)
X_train_pca = pca.fit_transform(X_train_scaled)
X_test_pca = pca.transform(X_test_scaled)

In [42]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(criterion='gini', n_estimators=20)
model.fit(X_train_pca, y_train)
y_pred = model.predict(X_test_pca)

In [43]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_pred=y_pred, y_true=y_test)*100)

77.24550898203593

In [45]:
import pickle
pickle.dump(model, open("../src1/models/liver-model.pkl",'wb'))
pickle.dump(scaler, open("../src1/scalar/liver-scalar.pkl",'wb'))
pickle.dump(pca, open("../src1/pca/liver-pca.pkl",'wb'))

In [52]:
inputs = ['age',
 'gender',
 'tot_bilirubin',
 'direct_bilirubin',
 'tot_proteins',
 'albumin',
 'ag_ratio',
 'sgpt',
 'sgot',
 'alkphos']

output = ["is_patient"]
output = {0:"No disease", 1:"Disease"}